
  <form method="post">
    {{ form.csrf_token }}

    <h3>Step 1: 목표 정하기</h3>

    <div class="row">
      <div>
        <label>목표 타입</label>
        <select name="objective_type">
          <option value="">전공</option>
          <option value="">운동</option>
          <option value="">예술</option>
          <option value="">취미</option>
          <option value="">생활</option>
          <option value="">기타</option>
        </select>

        {{ form.type }}
        <ul>
        {% for error in form.type.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </li>

      </div>
      <div>
        <label>목표 내용</label>
        <input type="text" name="objective_title"
          placeholder="목표를 설정해주세요 (예: 크로스핏)"/>

        {{ form.title }}
        <ul>
        {% for error in form.title.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </li>

      </div>
    </div>

    <h3>Step 2: 목표 달성 기준 정하기</h3>

    <div class="row">
      <div class="col-sm-2">달성 점수</div>
      <div class="col-sm-10">달성 기준 세부 내용</div>
    </div>

    <div class="row">
      <div class="col-sm-2">3점</div>
      <div class="col-sm-10">
        <input type="text" placeholder="예: 크로스핏 1회, 런닝 1회"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">6점</div>
      <div class="col-sm-10">
        <input type="text" placeholder="예: 크로스핏 2회, 런닝 2회"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">9점</div>
      <div class="col-sm-10">
        <input type="text" placeholder="예: 크로스핏 3회, 런닝 3회"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">12점</div>
      <div class="col-sm-10">
        <input type="text" placeholder="예: 크로스핏 4회, 런닝 4회"/>
      </div>
    </div>

    <button type="submit">Submit</button>
  </form>

