

div.content {
  margin: .5em;
}

div.checkpoints div.checkpoint {
  margin: .5em 0;
  text-align: center;
}
ul.checkpoint li {
}

a.checkpoint {
  display: block;
}

/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  padding-top: 40px;
}
footer {
  padding: 30px 0;
}



.navbar {
    margin: 0;
}

a.navbar-brand {
    font-weight: 100;
    font-size: 1.6em;
}

.blog-header {
    margin-top: 80px;
}

.blog-title {
    font-weight: 200;
    font-size: 2.8em;
}
.blog-description {
    font-weight: 200;
    font-size: 1.5em;
}

.options {
    padding-top: 10px;
}
.options button {
    margin: 10px;
}
/*button style overwrite*/
.btn-primary {
    font-size: 1.8em;
    font-weight: 100;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 10px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
/*end button overwrite*/
.login {}

/*Login Button*/
.login {
  color: #FFFFFF;
    
  border-color: #009688;
}
.login:hover,
.login:focus,
.login.focus,
.login:active,
.login.active,
.open > .dropdown-toggle.login {
  color: #FFFFFF;
  background-color: #009688;
  border-color: #FFF;
}   
/*Google Plus Sign In Button*/
.gplussign {
  color: #FFFFFF;
  background-color: #F44336;
  border-color: #F44336;
}
.gplussign:hover,
.gplussign:focus,
.gplussign.focus,
.gplussign:active,
.gplussign.active,
.open > .dropdown-toggle.gplussign {
  color: #FFFFFF;
  background-color: #F44336;
  border-color: #FFF;
}   

/*Centered Menu*/
.infonav {
    padding: 0;
    margin-top: 10px;

}
.infonav li{
    display: inline;
}
.infonav a{
    text-decoration: none;
    padding: 10px;
  font-size: 22px;
  font-weight: 500;
}

#intronav {
  text-align: center;
}
#goalsel a{
  padding-left:0px;
  font-size: 16px;
  display: inline;
  text-decoration:none;
}

/*header-area*/


.image-bg-fluid-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background: url('/static/cover.png') no-repeat center scroll;
    padding-top: 300px;
    padding-bottom: 80px;
}


.home {
  color: #D3D3D3;
}
#homeinfo {
  margin-bottom: 100px;
}
/*BUTTONS*/
/*male/female Button*/
.btn-male {
  color: #448AFF;
  background-color: #FFFFFF;
  border-color: #eee;
}
.btn-male:hover,
.btn-male:focus,
.btn-male.focus,
.btn-male:active,
.btn-male.active,
.open > .dropdown-toggle.btn-male {
  color: #FFFFFF;
  background-color: #448AFF;
  border-color: #448AFF;
} 
.btn-female {
  color: #FF4081;
  background-color: #FFFFFF;
  border-color: #eee;
}
.btn-female:hover,
.btn-female:focus,
.btn-female.focus,
.btn-female:active,
.btn-female.active,
.open > .dropdown-toggle.btn-female {
  color: #FFFFFF;
  background-color: #FF4081;
  border-color: #FF4081;
} 

/*Green Next button*/
.btn-green {
  color: #009688;
  background-color: #FFFFFF;
  border-color: #009688;
}
.btn-green:hover,
.btn-green:focus,
.btn-green.focus,
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-next {
  color: #FFFFFF;
  background-color: #009688;
  border-color: #009688;
} 

/*Add Button*/
.btn-add {
  color: #448AFF;
  background-color: #FFFFFF;
  border-color: #448AFF;
  font-weight: 800;  
}
.btn-add:hover,
.btn-add:focus,
.btn-add.focus,
.btn-add:active,
.btn-add.active,
.open > .dropdown-toggle.btn-next {
  color: #FFFFFF;
  background-color: #448AFF;
  border-color: #448AFF;
} 

#btn-score {}

.first{
  color: #FFFFFF;
  background-color: red;
  border-color: red;
}

.second{
  color: #FFFFFF;
  background-color: #EF6C00;
  border-color: #EF6C00;
}

.third{
  color: #FFFFFF;
  background-color: #FDD835;
  border-color: #FDD835; 
}
 
.fourth{
  color: #FFFFFF;
  background-color: green;
  border-color: green; 
}

/*setup buttons*/
.setup-btn { 
  margin: 2px;
}

#kickoff {
  color: #FFFFFF;
  background-color: green;
  border-color: green; 
}
#round {
  color: #FFFFFF;
  background-color: #448AFF;
  border-color: #448AFF;
}

#midpt {
  color: #FFFFFF;
  background-color: #EF6C00;
  border-color: #EF6C00;
}
/*END Buttons*/


/*Sidebar*/
#profile-info {
  text-align: center;
}
.sb-section{
  margin-top: 20px;
}

.sb-section ul{
  list-style-type: none;
}

/*main-information section*/


#main-information {
  margin: 20px 10px;
  border: 1px solid black;
  padding: 20px;
}

.mainblock {
  margin: 50px 0px;
}

/*dynamic menu*/
.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.group { display: inline-block; clear: both; }
/* start commented backslash hack \*/ * html .group { height: 1%; } .group { display: block; } /* close commented backslash hack */
article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }
a:focus { outline: 0; }


/*end dynamic menu*/

