{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}
{% block content %}
<div class="col-sm-6">

  <div class="text-center">
    <h1>Tell us about yourself</h1>
    <p class="lead">It'll help us get you started</p>
  </div>

  <form class="form-horizontal" role="form" method="post">
    {{ form.csrf_token }}
    <div class="form-group">
      <h4 class="section">이름</h4>
      <div class="col-sm-6">
        {{ render_field(form.family_name, show_label=False, placeholder='성') }}
      </div>
      <div class="col-sm-6">
        {{ render_field(form.given_name, show_label=False, placeholder='이름') }}
      </div>
    </div>
    <div class="form-group">
      <h4 class="section">성별</h4>
      <div class="col-sm-12">
        <div class="btn-group" data-toggle="buttons">
          <!-- FIXME: There's gotta be a cleaner way to deal with this -->
          <label class="btn btn-male {% if form.gender.data == 'male' %}active{% endif %}">
            <input type="radio" name="gender" value="male"
                   {% if form.gender.data == 'male' %}checked="checked"{% endif %}
            /> Male
          </label>
          <label class="btn btn-female {% if form.gender.data == 'female' %}active{% endif %}">
            <input type="radio" name="gender" value="female"
                   {% if form.gender.data == 'female' %}checked="checked"{% endif %}
            /> Female
          </label>
        </div>
        {% for error in form.gender.errors %}
        <div class="label label-danger">{{ error }}</div>
        {% endfor %}
      </div>
    </div>
    <div class="form-group">
      <h4 class="section">생년월일</h4>
      <div class="col-sm-4">
        {{ render_field(form.birthdate_year, show_label=False, placeholder='YYYY') }}
      </div>
      <div class="col-sm-4">
        {{ render_field(form.birthdate_month, show_label=False, placeholder='MM') }}
      </div>
      <div class="col-sm-4">
        {{ render_field(form.birthdate_day, show_label=False, placeholder='DD') }}
      </div>
    </div>
    <div class="form-group">
      <h4 class="section">전화번호</h4>
      <div class="col-sm-12">
        {{ render_field(form.phone, show_label=False, placeholder='010-1234-5678') }}
      </div>
    </div>
    <div class="form-group">
      <h4 class="section">이메일</h4>
      <div class="col-sm-12">
        {{ render_field(form.email, show_label=False, placeholder='your@email.com') }}
      </div>
    </div>
    <div class="form-group">
      <h4 class="section">추천인</h4>
      <div class="col-sm-12">
        {{ render_field(form.referrer, show_label=False, placeholder='추천인 이름') }}
      </div>
    </div>
    <div class="form-group">
      <h4 class="section">당신의 인생에서 가장 중요한 질문은?</h4>
      <div class="col-sm-12">
        {{ render_field(form.question1, show_label=False, placeholder='') }}
      </div>
    </div>
    <div class="form-group">
      <h4 class="section">나에게 Being and Doing 이란?</h4>
      <div class="col-sm-12">
        {{ render_field(form.question2, show_label=False, placeholder='') }}
      </div>
    </div>
    <div class="form-group">
      <h4 class="section">Talk to me about this</h4>
      <div class="col-sm-12">
        {{ render_field(form.question3, show_label=False, placeholder='') }}
      </div>
    </div>
    <div class="options text-center">
      <button class="btn btn-lg btn-green" type="submit">다음</button>
    </div>
  </form>

</div><!-- end of div.content -->
<script>
$(function() {
  $('input[name=birthdate]').datepicker({
    format: "yyyy-mm-dd",
    autoclose: true
  });
});
</script>
{% endblock %}
