{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}
{% block content %}
<div class="col-sm-8">

  <div class="text-center">
    <h1>Optional Information</h1>

    <p class="lead">추가 입력 정보입니다.</p>
  </div>

  <form class="form-horizontal" role="form" method="post" action="">
    {{ form.csrf_token }}

    <h4>주소</h4>

    <div class="row form-group">
      <div class="col-xs-10">
        {{ render_field(form.address, show_label=False, placeholder="주소") }}
      </div>
      <div class="col-xs-2">
        <button type="button" class="btn">Lookup</button>
      </div>
    </div>
    <!--end row-->

    <h4>학력</h4>

    <div class="row form-group">
      <div class="col-sm-6">
        {{ render_field(form.school, placeholder="출신대학(원)") }}
      </div>
      <div class="col-xs-6">
        {{ render_field(form.major, placeholder="전공") }}
      </div>
    </div>
    <!--end row-->

    <h4>경력</h4>

    <div class="row form-group">
      <div class="col-xs-6">
        <input class="form-control" placeholder="직장명">
      </div>
      <div class="col-xs-6">
        <input class="form-control" placeholder="담당 직무">
      </div>

    </div>
    <!--end row-->

    <div class="options text-center">
      <button class="btn btn-lg btn-green" type="submit">완료</button>
    </div>
  </form>

</div><!-- end of div.content -->
{% endblock %}
