{% extends 'layout.html' %}
{% from 'macros.html' import render_checkpoints, render_goals %}
{% block content %}

<h2>Checkpoint: {{ checkpoint.title }}</h2>

{{ render_checkpoints(current_user, team, team.checkpoints) }}

<h3>Goals</h3>
<ul>
{% for goal in checkpoint.goals %}
  <li><a href="{{ url_for('goal.view', goal_id=goal.id, checkpoint_id=checkpoint.id) }}">{{ goal.title }}</a></li>
{% endfor %}
</ul>

{% if checkpoint.goals.count() < 3 %}
  <a href="{{ url_for('goal.edit', goal_id='new', checkpoint_id=checkpoint.id) }}">Make a new goal</a>
{% endif %}

{% endblock %}
