{% extends 'layout.html' %}
{% block content %}

<div class="content">
  <h1>{{ team.name }} - {{ checkpoint.title }}</h1>

  <ul>
  {% for goal in team.goals %}
    <li>
      <div>{{ goal.title }}</div>
      <div><!-- whether completed or not --></div>
    </li>
  {% endfor %}
  </ul>

  <div>
    <div>___ 목표 설정</div>
    <div>* 개인의 SMART한 목표를 설정하세요. (최대 10개까지)
      <a href="#">SMART란?</a>
    </div>
  </div>

  <a href="{{ url_for('team.goal_edit', team_id=team.id, goal_id='new') }}">목표 추가</a>
</div>

{% endblock %}
