{% extends 'layout.html' %}
{% from 'macros.html' import render_checkpoints, render_goals %}
{% block content %}

<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">

  <h2>Being &amp; Doing 목표 성취 현황</h2>
  <canvas id="eval_chart" width="800" height="380"></canvas>

  <ul>
  {% for team in current_user.teams %}
    <li><a href="{{ url_for('team.progress', team_id=team.id) }}">{{ team.name }}</a></li>
  {% endfor %}
  </ul>

  <script src="/static/chart.js"></script>
  <script>
    var colors = [
      "rgba(144,202,119,0.75)",
      "rgba(129,198,221,0.75)",
      "rgba(233,182,77,0.75)"
    ];
    var highlightColors = [
      "rgba(144,202,119,0.85)",
      "rgba(129,198,221,0.85)",
      "rgba(233,182,77,0.85)"
    ];

    var options = Chart.defaults.Bar;
    options['scaleOverride'] = true;
    options['scaleSteps'] = 4;
    options['scaleStepWidth'] = 3;
    options['scaleStartValue'] = 0;
    options['barShowStroke'] = false;

    var evalsPerGoal = {{ chart_user_evaluations | tojson | safe }};
    var data = {
        labels: {{ chart_labels | tojson | safe }},
        datasets: $.map(evalsPerGoal, function(v, i) {
            return {
                label: "(" + i + ")",
                fillColor: colors[i],
                highlightFill: highlightColors[i],
                data: v
            }
        })
    };

    $(function() {
        // Get context with jQuery - using jQuery's .get() method.
        var ctx = $("#eval_chart").get(0).getContext("2d");
        // This will get the first returned node in the jQuery collection.
        var myNewChart = new Chart(ctx).Bar(data, options);
    });

  </script>
</div>

{% endblock %}