<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <style>
  body {
    margin: 4px;
  }
  input {
    width: 100%
  }
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-2">1</div>
      <div class="col-xs-2">2</div>
      <div class="col-xs-2">3</div>
      <div class="col-xs-2">4</div>
      <div class="col-xs-2">5</div>
    </div>
    <div class="row">
      <div class="col-xs-2">6</div>
      <div class="col-xs-2">7</div>
      <div class="col-xs-2">8</div>
      <div class="col-xs-2">9</div>
      <div class="col-xs-2">10</div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-9">
      <input type="text" class="wide"/>
    </div>
    <div class="col-xs-3">
      <input type="text" class="narrow"/>
    </div>
  </div>
</body>
</html>