<!DOCTYPE html>
<html>
<head>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <link rel="stylesheet" href="/static/main.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <script src="/static/sprintf.min.js"></script>
  <script src="/static/main.js"></script>

</head>
<body>
{% block navigation %}
  <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Being &amp; Doing</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
        {% if not current_user.is_anonymous() %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              My Account <span class="caret"></span></a>

            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="{{ url_for('user.logout') }}">Logout</a></li>
            </ul>
          </li>
        {% else %}
          <li><a href="{{ url_for('user.login') }}">Login</a></li>
        {% endif %}
        </ul>

      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar -->
{% endblock %}

<div class="container">

<div class="row row-offcanvas row-offcanvas-left">
  <p class="pull-left visible-xs">
    <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
  </p>

  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

    <div class="panel-group" id="accordion">
      {% if current_user.has_current_team %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-one">
              {{ current_user.current_team.name }}
            </a>
          </h4>
        </div>
        <div id="collapse-one" class="panel-collapse collapse in">
          <div class="panel-body">
            <a href="{{ url_for('team.view', team_id=current_user.current_team.id) }}" class="list-group-item">커리큘럼</a>
            <a href="{{ url_for('team.progress', team_id=current_user.current_team.id) }}" class="list-group-item">진행결과</a>
            {% if current_user.is_chair %}
              <a href="{{ url_for('team.members', team_id=current_user.current_team.id) }}" class="list-group-item">나의 멤버</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}

      <!--
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-two">
              Being &amp; Doing 6기
            </a>
          </h4>
        </div>
        <div id="collapse-two" class="panel-collapse collapse in">
          <div class="panel-body">
            <a href="#" class="list-group-item">지원하기</a>
          </div>
        </div>
      </div>
      -->

      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-three">
              지난 Being &amp; Doing
            </a>
          </h4>
        </div>
        <div id="collapse-three" class="panel-collapse collapse in">
          <div class="panel-body">
            <a href="#" class="list-group-item">Being &amp; Doing 5기</a>
            <a href="#" class="list-group-item">Readers 2기</a>
            <a href="#" class="list-group-item">Being &amp; Doing 2기</a>
          </div>
        </div>
      </div>

    </div><!-- panel-group accordion -->

  </div><!-- sidebar-offcanvas -->

  <div class="col-xs-12 col-sm-9">
    {% block content %}{% endblock %}
  </div><!-- div.content -->

</div><!-- div.row-offcanvas  -->
</div><!-- div.container -->

</body>
</html>
