<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <link id="bsdp-css" href="/static/bootstrap-datepicker3.css" rel="stylesheet">
  <script src="/static/bootstrap-datepicker.js"></script>

  <link rel="stylesheet" href="/static/main.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <script src="/static/sprintf.min.js"></script>
  <script src="/static/main.js"></script>

</head>
<body>
{% block navigation %}
  <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Being &amp; Doing</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          {% if not current_user.is_anonymous() and current_user.has_current_team %}
          <li class="active">
            <a href="{{ url_for('team.view', team_id=current_user.current_team.id) }}">My Team</a>
          </li>
          {% endif %}
        </ul>

        <ul class="nav navbar-nav navbar-right">
        {% if not current_user.is_anonymous() %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              My Account <span class="caret"></span></a>

            <ul class="dropdown-menu" role="menu">
              <li><a href="{{ url_for('user.edit_info') }}">My Information</a></li>
              <li class="divider"></li>
              <li><a href="{{ url_for('user.logout') }}">Logout</a></li>
            </ul>
          </li>
        {% else %}
          <li><a href="{{ url_for('user.login') }}">Login</a></li>
        {% endif %}
        </ul>

      </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
  </div><!-- /.navbar -->
{% endblock %}


<div class="container">
  {% block sidebar %}
  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" id="sidebar" role="navigation">

  <div class="profile">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img style="width:40px;height:40px;margin-right:8px;" src="{{ current_user.picture }}">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{ current_user.name }}</h4>
        {% if current_user.has_current_team %}
        {{ current_user.current_team.name }}
        {% endif %}
      </div>
    </div>
  </div>

    <div class="panel-group">
      {% if current_user.has_current_team %}
      <ul class="nav nav-tabs">
        <li class="active"><a href="#">{{ current_user.current_team.name }}</a></li>
      </ul>
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a href="{{ url_for('goal.index', team_id=current_user.current_team.id) }}">목표 관리</a>
        </li>
        <li>
          <a href="{{ url_for('team.view', team_id=current_user.current_team.id) }}">커리큘럼</a>
        </li>
        <li>
          <a href="{{ url_for('team.progress', team_id=current_user.current_team.id) }}">진행결과</a>
        </li>
        {% if current_user.is_chair_of(current_user.current_team) %}
        <li>
          <a href="{{ url_for('team.members', team_id=current_user.current_team.id) }}">나의 멤버</a>
        </li>
        {% endif %}
      </ul>
      {% endif %}

    </div><!-- panel-group accordion -->

  </div><!-- sidebar -->
  {% endblock %}

  {% block content %}{% endblock %}
</div>

</body>
</html>
