{% macro render_field(field, show_label=True) %}
  <div class="form-group">
    {% if show_label %}
      {{ field.label(class_='col-sm-12') }}
    {% endif %}
    <div class="col-sm-12">{{ field(class_='form-control', **kwargs)|safe }}</div>
    {% if field.errors %}
      <ul class="errors">
      {% for error in field.errors %}
        <li><span class="label label-danger">{{ error }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endmacro %}

{% macro render_checkpoints(user, team, checkpoints) %}
  <h3>Checkpoints</h3>
  <div class="row checkpoints">
  {% for checkpoint in checkpoints %}
    <div class="col-sm-2 checkpoint btn">
      <a class="checkpoint-view" data-team-id="{{ team.id }}"
         data-checkpoint-id="{{ checkpoint.id }}"
         href="{{ url_for('checkpoint.view', checkpoint_id=checkpoint.id, team_id=team.id) }}">
        <div>{{ checkpoint.title }}</div>
        <span class="label {{ checkpoint_status_class(user.get_checkpoint_status(checkpoint)) }}">{{ user.get_checkpoint_status(checkpoint) }}</span>
      </a>
    </div>
  {% endfor %}
  </div>
{% endmacro %}

{% macro render_goals(user, team, checkpoint) %}
  <h3>My Goals</h3>
  <ul>
  {% for goal in user.goals_for_team(team.id) %}
    {% if checkpoint %}
      <li><a href="{{ url_for('goal.evaluate', goal_id=goal.id, team_id=team.id, checkpoint_id=checkpoint.id) }}">{{ goal.title }}</a></li>
    {% else %}
      <li>{{ goal.title }}</li>
    {% endif %}
  {% endfor %}
  </ul>
{% endmacro %}


{% macro render_goal_eval_form(goal, user) %}
  <div class="row">
    <div class="col-xs-8">
      <h4>{{ goal.title }}</h4>
    </div>
    <div class="col-xs-4 text-right">
        <select class="selectpicker show-tick form-control" name="goal-{{ goal.id }}">
        <option value="3">3</option>
        <option value="6">6</option>
        <option value="9">9</option>
        <option value="12">12</option>
      </select>
    </div>
  </div><!--end row-->
  <div class="panel panel-default">
    <table class="table">
      <tbody><tr>
        <td class="col-xs-2 text-center"><h5>Goal Score</h5></td>
        <td class="col-xs-10 text-center"><h5>Goal description</h5></td>
      </tr>
      <tr>
        <td class="col-xs-2 text-center">
          <button id="btn-score1" class="btn first" type="button">3 점</button></td>
        <td class="col-xs-10 text-center">
          <div class="form-group">
            <input class="form-control" placeholder="What do you hope to accomplish?"
                   value="{{ goal.criterion1 }}">
          </div>
        </td>
      </tr>
      <tr>
        <td class="col-xs-2 text-center">
          <button id="btn-score2" class="btn second" type="button">6 점</button></td>
        <td class="col-xs-10 text-center">
          <div class="form-group">
            <input class="form-control" placeholder="What do you hope to accomplish?"
                   value="{{ goal.criterion2 }}">
          </div>
        </td>
      </tr>
      <tr>
        <td class="col-xs-2 text-center">
          <button id="btn-score3" class="btn third" type="button">9 점</button></td>
        <td class="col-xs-10 text-center">
          <div class="form-group">
            <input class="form-control" placeholder="What do you hope to accomplish?"
                   value="{{ goal.criterion3 }}">
          </div>
        </td>
      </tr>
      <tr>
        <td class="col-xs-2 text-center">
          <button id="btn-score4" class="btn fourth" type="button">12 점</button></td>
        <td class="col-xs-10 text-center">
          <div class="form-group">
            <input class="form-control" placeholder="What do you hope to accomplish?"
                   value="{{ goal.criterion4 }}">
          </div>
        </td>
      </tr>
    </tbody></table>
  </div>
{% endmacro %}