{% extends 'layout.html' %}
{% from 'macros.html' import render_field %}
{% block content %}

<div class="col-sm-9">

  <form method="post">
    {{ form.csrf_token }}

    <h3>Step 1: 목표 정하기</h3>

    <div class="row">
      {{ render_field(form.type) }}
      {{ render_field(form.title) }}
    </div>

    <h3>Step 2: 목표 달성 기준 정하기</h3>

    <div class="row">
      <div class="col-sm-2">달성 점수</div>
      <div class="col-sm-10">달성 기준 세부 내용</div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <span class="btn first">3 점</span>
      </div>
      <div class="col-sm-10">
        {{ render_field(form.criterion1, show_label=False, placeholder='예: 크로스핏 1회, 런닝 1회') }}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <span class="btn second">6 점</span>
      </div>
      <div class="col-sm-10">
        {{ render_field(form.criterion2, show_label=False, placeholder='예: 크로스핏 2회, 런닝 2회') }}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <span class="btn third">9 점</span>
      </div>
      <div class="col-sm-10">
        {{ render_field(form.criterion3, show_label=False, placeholder='예: 크로스핏 3회, 런닝 3회') }}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <span class="btn fourth">12 점</span>
      </div>
      <div class="col-sm-10">
        {{ render_field(form.criterion4, show_label=False, placeholder='예: 크로스핏 4회, 런닝 4회') }}
      </div>
    </div>

    <div class="options text-center">
      {% if goal.id %}
      <a href="javascript:deleteGoal()" class="btn btn-lg btn-danger">삭제</a>
      {% endif %}
      <button class="btn btn-lg btn-green" type="submit">완료</button>
    </div>
  </form>
</div>

<script>
{% if goal.id %}
function deleteGoal() {
  if (confirm('You are about to delete this goal. Are you sure?')) {
    $.ajax({
      url: '{{ url_for("goal.delete", goal_id=goal.id) }}',
      type: 'DELETE',
      success: function(response) {
        // TODO: Redirect to a different page
      }
    });
  }
}
{% endif %}
</script>
{% endblock %}
